{% extends "base.html" %}

{% block navarea %}
	{% if page.url != '/blog/' %}
		{% for path in page.path.parents|reverse %}
			{% if not loop.first %}&gt; <a href="/{{ path }}">{{ path.name }}</a>{% endif %}
		{% endfor %}
	{% endif %}
{% endblock %}

{% block mainarea %}
	<ul>
	{% for child in children|sort(attribute='date', reverse=True) %}
		<li><a href="{{ child.url }}">{% if child.title %}{{ child.title }}{% else %}{{ child.path.parent.name }}{% endif %}</a></li>
	{% endfor %}</ul>
{% endblock %}
